/* Startup code*/
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}
        
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
        
html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
        
*, *:before, *:after {box-sizing: inherit}
        
.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
}

.wrapper {
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;

}
/*end of startup code*/
/* * {
    outline: red 1px solid;
} */
/* stripping styles */
body,
ul,
h1,
h2,
h3,
li {
    margin:0;
    padding:0;
}
/*splash page design */
header {
    background-image: url("./assets/image-main.jpeg");
    background-size: cover; 
    height: 100vh;
    width: 100vw;
    font-weight: 700;
    color: #333333;

}

nav {
    padding-top: 5%;
    display:flex;
    justify-content: space-between;
}


h2.logo {
    width: 75%;
    font-size: 38px;
    color: #005769;
    padding: 2% 0;
}

ul.home {
    margin:0;
    width: 50%;
    list-style:none;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

ul.home li {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    padding: 3%;
    min-width: 25%;

}
ul.home li:hover {
    background-color: #16D6D1;
    border-radius: 4px;
    border: none;
}

h1 {
    font-size:68px;
    padding-top: 25%;
    padding-right: 50%;
    letter-spacing: .05em;

}
/* end of splash */

/* Main styles */
.wrapperMain {
    max-width: 1140px;
    width: 90%;
    margin: 5% auto;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.wrapperMain > * {
    margin: 2% 0;
}

img.thin {
    width:30%;
}

.anArticle {
    max-width: 700px;
}

.anArticle img {
    max-width: 700px;
    min-height: 50%;
    display: block;
}

article {
    text-align: center;
    background-color: #F6F8FA;
    margin: 0;
    min-height: 50%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

h3 {
    margin:0;
    font-size: 22px;
    text-transform: uppercase;
    color:#777777;
}

.readMore {
    background-color: #16D6D1;
    text-transform: uppercase;
    font-weight: 700;
    padding: 2% 4%;
    border-radius: 4px;
    border: none;
    color: #333333;
    font-size: 19px;
} 

.half {
    max-width: 46%;
}
/* end of main styles */

/* Footer style */
footer {
    background-color: #F6F8FA;
    min-height: 25vh;
    
}
.wrapperEnd {
    max-width: 1140px;
    width: 90%;
    margin: 5% auto 0;  
    display:flex;
    flex-wrap:wrap;
}

.footerLinks{
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 2% 0;
    min-height: 5%;

}
.footerLinks li {
    padding-top: 3%;
    min-height: 15%;
    min-width: 35%;
    margin: 4%;
    list-style:none;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

h2.logoEnd{
    width: 33.33%;
    padding-top: 3%;
    font-size: 38px;
    color: #005769;
    min-height: 15%;
    min-height:5%;
}

.wrapperEnd p{
    width:33.33%;
}
p {
    padding-top: 3%;
    margin: 0;
}
p.copyright {
    width: 100%;
    padding: 2%;
    border-top: 1px solid;
    color: #777777;
    font-weight: 500;
    font-size: 20px;
    min-height: 5%
}
